# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: db4494958aa109692daafe58e54361cc94ffa5b0445513557d7ccaf971713e032433fb2905954c42449bf1f668880bf6133364b361700a088165fc5c49657a2d

test:
  secret_key_base: 6cc3c670df0cd5c5382ab52a80b5b4d3a506bdb2627ace4f16b3cee8885aa943bbab166ab4166f83f24dc10a28e1f6f2c1c44f738df03282036cd3c4214f70e5

production:
  secret_key_base: 

staging:
  secret_key_base: 
