h1 = "Yay! We've got a message throught Contact Us form on the Innovation Feel web-site!"
p = "From: #{ @params[:first_name] } #{ @params[:last_name] }"
p = "Email: #{ @params[:email] }"
p = "Phone: #{ @params[:phone] }"
p = "Company: #{ @params[:company] }"
p = "Country: #{ @params[:country] }"
p = "Message:"
p = @params[:message]
