@import 'bourbon'

@font-face
  font-family: 'BebasNeueBook'
  src: url('/assets/BebasNeueBook.woff2') format('woff2'), url('/assets/BebasNeueBook.woff') format('woff'), url('/assets/BebasNeueBook.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'BebasNeueRegular'
  src: url('/assets/BebasNeueRegular.woff2') format('woff2'), url('/assets/BebasNeueRegular.woff') format('woff'), url('/assets/BebasNeueRegular.ttf') format('truetype')
  font-weight: 300
  font-style: normal
