@import 'bourbon'

@font-face
  font-family: 'BebasNeueBook'
  src: local('Bebas Neue Book'), local('BebasNeueBook'), url('BebasNeueBook.woff2') format('woff2'), url('BebasNeueBook.woff') format('woff'), url('BebasNeueBook.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'BebasNeueRegular'
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('BebasNeueRegular.woff2') format('woff2'), url('BebasNeueRegular.woff') format('woff'), url('BebasNeueRegular.ttf') format('truetype')
  font-weight: 300
  font-style: normal
