@import 'bourbon';
@import 'colors';

@font-face {
    font-family: 'BebasNeueBook';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('BebasNeueBook.woff2') format('woff2'), url('BebasNeueBook.woff') format('woff'), url('BebasNeueBook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('BebasNeueRegular.woff2') format('woff2'), url('BebasNeueRegular.woff') format('woff'), url('BebasNeueRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

//$bgDefault      : #e74c3c;
//$bgHighlight    : #8578a3;
//$colDefault     : #ecf0f1;
//$colHighlight       : #ffbbbc;
//
//@media (max-width: $screen-sm-max) {
//  .header .navbar-nav .open .dropdown-menu {
//    > li > a {
//      color: $colDefault;
//      &:hover, &:focus {
//        color: $colHighlight; }}
//    > .active {
//      > a, > a:hover, > a:focus, {
//        color: $colHighlight;
//        background-color: $bgHighlight; }}}
//}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.container-fluid {
  margin: 0 auto;
  padding: 0;
  .header {
    position: relative;

  .shadow {
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    height: 100%;
  }
  .home-screen {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    color: white;
    padding-top: 100px;
    .main-screen {
      h1 {
        font-size: 52px;
        margin-bottom: 25px;
      }
      h2 {
        font-weight: normal;
      }
    }
  }

  #header {
    padding: 10px 0 0 0;
    margin: 0;
    a {
      &.navbar-brand {
        margin: 5px 0 0 0;
        padding: 0;
        height: 50px;
        &.logo {
          img {
            height: 50px;
            display: inline-block;
            &.logo { width: 50px; }
            &.logo-text { width: 195px; margin-left: 10px; }
          }
        }
      }
    }
    &.affix {
      padding: 0;
      background: $dark-grey;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      -webkit-box-shadow: 0 4px 4px -4px #000000;
      -moz-box-shadow: 0 4px 4px -4px #000000;
      box-shadow: 0 4px 4px -4px #000000;

      div.popover[role=tooltip] {
        background-color: rgba(0,0,0,0.8);
        .arrow:after { border-bottom-color: rgba(0,0,0,0.5) }
      }
      a.logo {
        img.logo {
          width: 30px;
          height: 30px;
        }
      }
    }

    .navbar-text { }
    .navbar-nav {
      li {
        padding: 25px 15px;
        &:last-child { padding-right: 0; }
        a {
          -webkit-transition: color 0.2s ease, width 0.4s ease;
          -moz-transition: color 0.2s ease, width 0.4s ease;
          -ms-transition: color 0.2s ease, width 0.4s ease;
          -o-transition: color 0.2s ease, width 0.4s ease;
          transition: color 0.2s ease, width 0.4s ease;

          color: white;
          padding: 0;
          font-size: 18px;
          font-family: 'BebasNeueBook'; // BebasNeueRegular
          background: none;
          &:hover,  &:focus {
            color: $blue;
          }
          &.earth-globe {
            
          }
          &.nav-link {
            text-decoration: none;
            display: inline-block;
            border-bottom: 3px solid transparent;
            white-space: nowrap;
            width: 0%;
            &:hover, &:focus {
              width: 100%;
              border-bottom: 3px solid $blue;
            }
          }
        }
        .earth-globe-container a[rel~=popover] {
          margin-right: 40px;
          &.active {
            span {
              background: image-url('icons/earth-globe-hover.svg')
            }
          }
        }
        .popover-content {
          padding: 0;
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              text-align: center;
              padding: 5px 0 0 0;
              margin: 0;
              a {
                padding: 5px 30px 0 30px;
                &:hover, &:focus {
                  color: white;
                }
                &.active { color: $blue }
              }
              &:hover, &:focus {
                background-color: rgba(75,147,212,0.5);
              }
            }
          }
        }
      }
      > .open {
        > a, > a:hover, > a:focus {

        }
      }
    }
    .navbar-toggle {
      &:hover, &:focus {
//        background-color: $purple;
      }
      .icon-bar {
        background-color: white;
      }
    }
//    .navbar-link {
//      color: ;
//      &:hover {
//        color: $grey-light;
//      }
//    }
  }

  &.container-home {
    background: image-url('home-bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    .shadow {
      background-color: rgba(0,0,0,0.5);
      background-size: cover;
      border: 1px solid blue;
      height: 100%;
    }
    .home {
      width: 90%;
      height: 100%;
      border: 1px solid red;
      margin: 0 auto;
      position: relative;
      color: white;
      .main-screen {
        h1 {
          font-family: 'BebasNeueBook';
          font-size: 52px;
          margin-bottom: 25px;
        }
        h2 {
          font-weight: normal;
//          font-size: 32px;
        }
    position: relative;
    overflow: hidden;
    .text-block {
      padding: 10px 20px;
      width: 50%;
      height: 60%;
      margin: 140px 5% 0 0;
      float: right;
      color: $dark-grey;
      background: rgba(245,245,245,0.8);
      
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;

      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
      &.more {
        width: 90%;
        background: rgba(245,245,245,1);
        -webkit-box-shadow: 13px 15px 11px -9px grey;
        -moz-box-shadow: 13px 15px 11px -9px grey;
        box-shadow: 13px 15px 11px -9px grey;
      }
    }
  }
}
