@import 'bourbon'

#main-screen
  position: relative
  height: 100%
  color: #fff

  &::before
    @extend .before
    background-color: #000
    opacity: 0.6

  video
    position: fixed
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -100
    background: image-url('home-bg.jpg') no-repeat center center
    background-size: cover

  .main-content
    height: 70%
    position: relative
    ul
      margin: 0
      padding: 0
    li
      display: inline-block
      margin: 0 20px 0 50px
      a
        color: #fff
        font-size: em(16px)
        @include transition(all, 0.2s, ease)
        &:hover, &:focus, &:active
          color: $blue
          text-decoration: none
    .btn
      margin-top: 30px
    .row
      div
        position: absolute
        bottom: 0
        margin: 0 auto
    
  #header
    padding-top: 20px
    position: fixed
    width: 100%
    z-index: 2
    @include transition(all, 0.3s, ease)

    a
      color: #fff
      -webkit-transition: color 0.2s ease, width 0.4s ease
      -moz-transition: color 0.2s ease, width 0.4s ease
      -ms-transition: color 0.2s ease, width 0.4s ease
      -o-transition: color 0.2s ease, width 0.4s ease
      transition: color 0.2s ease, width 0.4s ease
      &:hover, &:focus, &:active
        color: $blue
      &.menu-link
        padding: 0
        text-decoration: none
        display: block
        border-bottom: 3px solid transparent
        white-space: nowrap
        width: 0%
        &:hover, &:focus, &:active
          width: 100%
          border-bottom: 3px solid $blue

    .nav-toggle
      float: right
      width: 30px
      height: 30px
      line-height: 30px
      display: block

      span
        margin-top: 15px
        position: relative
        display: block
        width: 100%
        height: 3px
        background-color: #fff
        transition: all 0.3s
        backface-visibility: hidden
        border-radius: 2px
        &:after, &:before
          content: ''
          position: absolute
          left: 0
          top: -9px
          width: 100%
          height: 3px
          background-color: #fff
          @include transition(all, 0.3s, ease)
          backface-visibility: hidden
          border-radius: 2px
        &:after
          top: 9px

      &.on span
        background-color: transparent
        &:before
          background-color: $blue
          transform: rotate(45deg) translate(5px, 5px)
        &:after
          background-color: $blue
          transform: rotate(-45deg) translate(7px, -8px)

      
    .lg-menu nav
      text-align: right
      ul
        @extend .ul.inline
      li
        line-height: 50px
        padding: 5px 0 0 30px
      .earth-globe-container
        margin-right: 20px
      .popover-content
        padding: 0
        ul
          @extend .ul
          li
            display: block
            margin: 0
            padding: 0
            line-height: 20px
            a
              text-align: center
              display: block
              padding: 5px 30px 3px 30px
              &:hover, &:focus
                color: #fff

              &.active
                color: $blue

            &:hover, &:focus
              background-color: rgba(75,147,212,0.5)

    .xs-lang-menu
      background-color: $grey
      a
        &.xs-menu-link
          text-align: center
        &.active
          color: $blue

    .xs-main-menu
      height: 100%
      li
        &:last-child
          text-align: center
          &:hover
            background: none
          a.icon
            margin: 40px 30px 30px 30px
            width: 25px
            height: 25px
            display: inline-block
            span
              width: 25px
              height: 25px
      .all-rights
        font-family: 'BebasNeueRegular', sans-serif
        text-align: center
        white-space: nowrap
        

    a.logo
      img
        display: inline-block
        height: 50px
        &.img-logo
          margin-right: 15px
    
    &.affix
      background: $dark-grey
      padding-top: 5px
      width: 100%
      @include shadow(0, 4px, 4px, -4px, #000000)

      div.popover[role=tooltip]
        background-color: rgba(0,0,0,0.8)
        .arrow:after
          border-bottom-color: rgba(0,0,0,0.5)
      a.logo
        img.img-logo
          width: 30px
          height: 30px

      .container
        .lg-menu nav
          ul
            margin: 0
          li.menu-item
            line-height: 40px
