.clearfix { clear: both; }
.row {
  padding: 0;
  margin: 0;
  div {
    padding: 0;
    margin: 0;
  }
}
a {
  &:hover {
    text-decoration: none;
  }
}


// Icons
a.icon {
  width: 19px;
  height: 19px;
  border: none;
  &:focus { outline: 0 }
}
span.glyphicon {
  width: 19px;
  height: 19px;
  margin: -3px 0 0 0;

  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;

  &.earth-globe {
    background: image-url('icons/earth-globe.svg');
    background-size: cover;
    &:hover, &:focus { background: image-url('icons/earth-globe-hover.svg') }
  }
  &.fb {
    background: image-url('icons/fb.svg');
    background-size: cover;
    &:hover, &:focus { background: image-url('icons/fb-hover.svg') }
  }
  &.linkedin {
    background: image-url('icons/linkedin.svg');
    background-size: cover;
    &:hover, &:focus { background: image-url('icons/linkedin-hover.svg') }
  }
  &.twitter {
    height: 17px;
    background: image-url('icons/twitter.svg');
    background-size: cover;
    &:hover, &:focus { background: image-url('icons/twitter-hover.svg') }
  }
}

// Popovers
div.popover[role=tooltip] {
  background-color: rgba(0,0,0,0.4);
  border: none;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  border-radius: 2%;
  .arrow:after { border-bottom-color: rgba(0,0,0,0.2) }
  .popover-content {
    color: white;
  }
}

// Buttons
.btn-blue {
  border: 2px solid transparent;
  background: rgba(64,141,210,0.6);
  padding: 10px 45px;
  color: white;

  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  border-radius: 2%;
  
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

  &:hover, &:focus {
    color: white;
    border: 2px solid white;
    background: rgba(64,141,210,1);
  }
}

// Media queries

@media (min-width: $screen-lg-min) {
  .home {
    .main-screen {
      margin-top: 70px;
      .btn { margin-top: 50px; }
    }
  }
}
@media (max-width: $screen-md-max) {
  h1 { font-size: 28px; }
  h4 { font-size: 16px; }
  .home {
    .main-screen {
      margin-top: 60px;
      .btn { margin-top: 40px; }
    }
  }
}
@media (max-width: $screen-sm-max) {
  h1 { font-size: 22px; }
  h4 { font-size: 14px; }
  .home {
    .main-screen {
      margin-top: 50px;
      .btn { margin-top: 40px; }
    }
  }
}
@media (max-width: $screen-xs-max) {
  h1 { font-size: 18px; }
  h4 { font-size: 12px; }
  .home {
    .main-screen {
      margin-top: 45px;
      .btn { margin-top: 35px; }
    }
  }
}