@import 'bourbon'

#what-we-do-screen
  background: image-url('what-we-do-bg.jpg') no-repeat center center
  background-size: cover
  position: relative
  overflow: hidden

  .container.title
    height: 20%
    .row
      height: 100%    
      @extend .valign-center

  .container.data
    height: 80%
    .images
      padding-bottom: 20px
      a
        font-size: em(21px)
        color: $dark-grey
        position: relative
        @include transition(all, 0.2s, ease)
        display: inline-block
        &.active
          color: $blue
          span.glyphicon.web-dev
            background: image-url('icons/web-dev-hover.svg')
            background-size: cover
          span.glyphicon.mob-dev
            background: image-url('icons/mob-dev-hover.svg')
            background-size: cover
          span.glyphicon.usability
            background: image-url('icons/usability-hover.svg')
            background-size: cover
        &:active, &:focus
          text-decoration: none
      p
        a
          font-family: 'LatoLight', sans-serif
          font-size: em(17px)
          color: $blue
          margin: 0
          
    .info
      height: 50%
      #web-dev, #mob-dev, #usability
        display: none
        min-height: 400px
        .row
          @extend .valign-center
          a
            font-family: 'LatoLight', sans-serif
            font-size: em(17px)
        &.active
          display: block

      .schema
        height: 100%
        text-align: center
        img
          margin: 0 auto
          opacity: 0.7
          width: 80%
